In [1]:
import pandas as pd
import numpy as np

In [2]:
a=pd.Series([1,2,3,4,5])

In [3]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
b=np.array([1,2,3,4,5])

In [5]:
b

array([1, 2, 3, 4, 5])

In [6]:
a[0]

1

In [7]:
b[0]

1

In [8]:
a=pd.Series([[1,2],[3,4,5]])

In [9]:
a[0]

[1, 2]

In [10]:
a['a']

KeyError: 'a'

In [ ]:
a

In [ ]:
b=pd.Series([1,2,3,4])

In [ ]:
len(b)

In [ ]:
b[0]

In [ ]:
b[0]=10

In [ ]:
b

In [ ]:
b[4]=10

In [11]:
b

array([1, 2, 3, 4, 5])

In [12]:
len(b)

5

In [13]:
del b[4]

ValueError: cannot delete array elements

In [14]:
b

array([1, 2, 3, 4, 5])

In [15]:
b.values

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [ ]:
b.index

In [16]:
b.iloc[0]

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [17]:
b.iloc[-1]

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [18]:
b[-1] # this will work in numpy

5

In [19]:
b

array([1, 2, 3, 4, 5])

In [20]:
b[1:3]

array([2, 3])

In [21]:
b.iloc[1:3]

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [22]:
d=pd.Series(range(15))

In [23]:
d.iloc[10:15:2]

10    10
12    12
14    14
dtype: int64

In [24]:
d.iloc?

In [25]:
d[::-1]

14    14
13    13
12    12
11    11
10    10
9      9
8      8
7      7
6      6
5      5
4      4
3      3
2      2
1      1
0      0
dtype: int64

In [26]:
d[::]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [27]:
d

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [28]:
d.iloc[:]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [29]:
d.iloc[::]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [30]:
d.iloc[:-1]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
dtype: int64

In [31]:
d.iloc[:0]

Series([], dtype: int64)

In [32]:
iloc -> integer values
loc -> label values

SyntaxError: invalid syntax (<ipython-input-32-0d7bf5f4650b>, line 1)

In [33]:
d.loc[0]

0

In [34]:
d

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [35]:
a=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [36]:
a.loc[0]

KeyError: 0

In [ ]:
a.loc['a']

In [37]:
a.iloc['a']

TypeError: Cannot index by location index with a non-integer key

In [38]:
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [39]:
a[3]

4

In [40]:
# .loc and .iloc
# .loc -> labels
# .iloc -> integers

In [41]:
a.iloc[3]

4

In [42]:
a.loc[3]

KeyError: 3

In [43]:
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [44]:
a.loc['d']

4

In [45]:
d

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [46]:
d.loc[10]

10

In [47]:
d.iloc[10]

10

In [48]:
a.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [49]:
d.index

RangeIndex(start=0, stop=15, step=1)

In [50]:
a[['a','b']]

a    1
b    2
dtype: int64

In [51]:
a.loc[['a','b']]

a    1
b    2
dtype: int64

In [52]:
series2 = pd.Series([10,20,30,40,50], index=['one','two','three','four','five'])
print(series2)
series2.index

one      10
two      20
three    30
four     40
five     50
dtype: int64

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [53]:
series2[4]

50

In [54]:
series2['five']                      # Fetch single data point

50

In [55]:
series2[['one', 'three', 'five']]    # Fetch multiple data point

one      10
three    30
five     50
dtype: int64

In [56]:
series2[[0,1,3]]

one     10
two     20
four    40
dtype: int64

In [57]:
series2

one      10
two      20
three    30
four     40
five     50
dtype: int64

In [58]:
series2 +10

one      20
two      30
three    40
four     50
five     60
dtype: int64

In [59]:
10**2 # Raise to power

100

In [60]:
series2**2

one       100
two       400
three     900
four     1600
five     2500
dtype: int64

In [61]:
series2

one      10
two      20
three    30
four     40
five     50
dtype: int64

In [62]:
series2=series2**2

In [63]:
series2

one       100
two       400
three     900
four     1600
five     2500
dtype: int64

In [64]:
#all the values that are greater than 1000
#output : 1600, 2500

In [65]:
series2[series2>1000]

four    1600
five    2500
dtype: int64

In [66]:
d=np.sqrt(series2)

In [67]:
type(d)

pandas.core.series.Series

In [68]:
d

one      10.0
two      20.0
three    30.0
four     40.0
five     50.0
dtype: float64

In [69]:
f1 = {90:8, 91:9, 92:7, 93:8, 94:9, 100:26,95:11}

In [70]:
f1

{90: 8, 91: 9, 92: 7, 93: 8, 94: 9, 100: 26, 95: 11}

In [71]:
pd.Series(f1)

90      8
91      9
92      7
93      8
94      9
100    26
95     11
dtype: int64

In [72]:
pd.Series(f1.keys(),index=f1.values())

8      90
9      91
7      92
8      93
9      94
26    100
11     95
dtype: int64

In [73]:
{value:key for key,value in f1.items()}

{8: 93, 9: 94, 7: 92, 26: 100, 11: 95}

In [74]:
import time

In [75]:
start=time.time()
{value:key for key,value in f1.items()}
end=time.time()
print(end-start)

0.001994609832763672

In [76]:
for i,j in f1.items():
  print(i,j)

90 8
91 9
92 7
93 8
94 9
100 26
95 11

In [77]:
start=time.time()
dict(zip(f1.values(),f1.keys()))
end=time.time()
print(end-start)

0.0009970664978027344

In [78]:
dict(zip([1,2,3],[1,2,3]))

{1: 1, 2: 2, 3: 3}

In [79]:
#ZIP

In [80]:
d=pd.DataFrame()

In [81]:
d

Empty DataFrame
Columns: []
Index: []

In [82]:
df=pd.DataFrame(a)

In [83]:
df

   0
a  1
b  2
c  3
d  4
e  5

In [84]:
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [85]:
df.ndim

2

In [86]:
df.shape

(5, 1)

In [87]:
df[0]

a    1
b    2
c    3
d    4
e    5
Name: 0, dtype: int64

In [88]:
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [89]:
# keys become column names
df = pd.DataFrame({'name': ['Vinay', 'Kushal', 'Aman', 'Saif'], 
                   'age years': [22, 25, 24, 28], 
                    'occupation': ['engineer', 'doctor', 'data analyst', 'teacher']})
df

     name  age years    occupation
0   Vinay         22      engineer
1  Kushal         25        doctor
2    Aman         24  data analyst
3    Saif         28       teacher

In [90]:
df['age years']

0    22
1    25
2    24
3    28
Name: age years, dtype: int64

In [91]:
df.age years

SyntaxError: invalid syntax (<ipython-input-91-bd7b49018b4a>, line 1)

In [97]:
print("Aayush","\t","kubba")

Aayush 	 kubba

In [98]:
import pandas as pd
cars = pd.read_csv(r"C:\Users\voicezen\OneDrive\DataScienceTraining\github_repos\MachineLearning\Dataset\cars.csv")

In [101]:
#second way
cars=pd.read_csv("C:/Users/voicezen/OneDrive/DataScienceTraining/github_repos/MachineLearning/Dataset/cars.csv")

In [103]:
#third way
cars = pd.read_csv("C:\\Users\\voicezen\\OneDrive\\DataScienceTraining\\github_repos\\MachineLearning\\Dataset\\cars.csv")

In [104]:
cars.shape

(261, 8)

In [105]:
cars.head()

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year     brand
0  14.0           8          350  165       4209           12   1972       US.
1  31.9           4           89   71       1925           14   1980   Europe.
2  17.0           8          302  140       3449           11   1971       US.
3  15.0           8          400  150       3761           10   1971       US.
4  30.5           4           98   63       2051           17   1978       US.

In [106]:
cars.head(10)

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year     brand
0  14.0           8          350  165       4209           12   1972       US.
1  31.9           4           89   71       1925           14   1980   Europe.
2  17.0           8          302  140       3449           11   1971       US.
3  15.0           8          400  150       3761           10   1971       US.
4  30.5           4           98   63       2051           17   1978       US.
5  23.0           8          350  125       3900           17   1980       US.
6  13.0           8          351  158       4363           13   1974       US.
7  14.0           8          440  215       4312            9   1971       US.
8  25.4           5          183   77       3530           20   1980   Europe.
9  37.7           4           89   62       2050           17   1982    Japan.

In [107]:
cars.tail()

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
256,17.0,8,305,130,3840,15,1980,US.
257,36.1,4,91,60,1800,16,1979,Japan.
258,22.0,6,232,112,2835,15,1983,US.
259,18.0,6,232,100,3288,16,1972,US.
260,22.0,6,250,105,3353,15,1977,US.

In [108]:
cars.tail(20)

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
241,18.0,6,225,105,3121,17,1974,US.
242,16.0,8,400,180,4220,11,1978,US.
243,25.0,4,110,87,2672,18,1971,Europe.
244,14.0,8,454,220,4354,9,1971,US.
245,15.0,8,318,150,3399,11,1974,US.
246,19.4,8,318,140,3735,13,1979,US.
247,44.3,4,90,48,2085,22,1981,Europe.
248,28.0,4,97,75,2155,16,1977,Japan.
249,29.0,4,135,84,2525,16,1983,US.
250,32.1,4,98,70,2120,16,1981,US.
251,24.0,4,121,110,2660,14,1974,Europe.
252,36.4,5,121,67,2950,20,1981,Europe.
253,13.0,8,350,145,3988,13,1974,US.
254,23.5,6,173,110,2725,13,1982,US.
255,24.0,4,113,95,2372,15,1971,Japan.
256,17.0,8,305,130,3840,15,1980,US.
257,36.1,4,91,60,1800,16,1979,Japan.
258,22.0,6,232,112,2835,15,1983,US.
259,18.0,6,232,100,3288,16,1972,US.
260,22.0,6,250,105,3353,15,1977,US.

In [109]:
cars.dtypes

mpg             float64
 cylinders        int64
 cubicinches     object
 hp               int64
 weightlbs       object
 time-to-60       int64
 year             int64
 brand           object
dtype: object

In [110]:
cars.describe() #stats

              mpg   cylinders          hp   time-to-60         year
count  261.000000  261.000000  261.000000   261.000000   261.000000
mean    23.144828    5.590038  106.360153    15.547893  1976.819923
std      7.823570    1.733310   40.499959     2.910625     3.637696
min     10.000000    3.000000   46.000000     8.000000  1971.000000
25%     16.900000    4.000000   75.000000    14.000000  1974.000000
50%     22.000000    6.000000   95.000000    16.000000  1977.000000
75%     28.800000    8.000000  138.000000    17.000000  1980.000000
max     46.600000    8.000000  230.000000    25.000000  1983.000000

In [111]:
cars.columns

Index(['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60',
       ' year', ' brand'],
      dtype='object')

In [112]:
cars.index

RangeIndex(start=0, stop=261, step=1)

In [113]:
cars.values

array([[14.0, 8, '350', ..., 12, 1972, ' US.'],
       [31.9, 4, '89', ..., 14, 1980, ' Europe.'],
       [17.0, 8, '302', ..., 11, 1971, ' US.'],
       ...,
       [22.0, 6, '232', ..., 15, 1983, ' US.'],
       [18.0, 6, '232', ..., 16, 1972, ' US.'],
       [22.0, 6, '250', ..., 15, 1977, ' US.']], dtype=object)

In [114]:
cars

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
0,14.0,8,350,165,4209,12,1972,US.
1,31.9,4,89,71,1925,14,1980,Europe.
2,17.0,8,302,140,3449,11,1971,US.
3,15.0,8,400,150,3761,10,1971,US.
4,30.5,4,98,63,2051,17,1978,US.
...,...,...,...,...,...,...,...,...
256,17.0,8,305,130,3840,15,1980,US.
257,36.1,4,91,60,1800,16,1979,Japan.
258,22.0,6,232,112,2835,15,1983,US.
259,18.0,6,232,100,3288,16,1972,US.
260,22.0,6,250,105,3353,15,1977,US.

In [115]:
cars.columns

Index(['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60',
       ' year', ' brand'],
      dtype='object')

In [116]:
cars.set_index(' cubicinches',inplace=True)

In [117]:
cars

               mpg   cylinders   hp  weightlbs   time-to-60   year     brand
 cubicinches
350           14.0           8  165       4209           12   1972       US.
89            31.9           4   71       1925           14   1980   Europe.
302           17.0           8  140       3449           11   1971       US.
400           15.0           8  150       3761           10   1971       US.
98            30.5           4   63       2051           17   1978       US.
...            ...         ...  ...        ...          ...    ...       ...
305           17.0           8  130       3840           15   1980       US.
91            36.1           4   60       1800           16   1979    Japan.
232           22.0           6  112       2835           15   1983       US.
232           18.0           6  100       3288           16   1972       US.
250           22.0           6  105       3353           15   1977       US.

[261 rows x 7 columns]

In [118]:
cars = pd.read_csv(r"C:\Users\voicezen\OneDrive\DataScienceTraining\github_repos\MachineLearning\Dataset\cars.csv")

In [123]:
cars.sort_values(by=' hp',ascending=False,inplace=True)

In [129]:
cars.sort_values(by=[' hp',' year'],inplace=True)

In [130]:
cars

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
36,26.0,4,97,46,1835,21,1971,Europe.
66,26.0,4,97,46,1950,21,1974,Europe.
197,43.1,4,90,48,1985,22,1979,Europe.
247,44.3,4,90,48,2085,22,1981,Europe.
106,43.4,4,90,48,2335,24,1981,Europe.
...,...,...,...,...,...,...,...,...
244,14.0,8,454,220,4354,9,1971,US.
152,14.0,8,455,225,4425,10,1971,US.
44,14.0,8,455,225,3086,10,1971,US.
132,12.0,8,455,225,4951,11,1974,US.
55,16.0,8,400,230,4278,10,1974,US.

In [131]:
cars

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
36,26.0,4,97,46,1835,21,1971,Europe.
66,26.0,4,97,46,1950,21,1974,Europe.
197,43.1,4,90,48,1985,22,1979,Europe.
247,44.3,4,90,48,2085,22,1981,Europe.
106,43.4,4,90,48,2335,24,1981,Europe.
...,...,...,...,...,...,...,...,...
244,14.0,8,454,220,4354,9,1971,US.
152,14.0,8,455,225,4425,10,1971,US.
44,14.0,8,455,225,3086,10,1971,US.
132,12.0,8,455,225,4951,11,1974,US.
55,16.0,8,400,230,4278,10,1974,US.

In [135]:
cars.iloc[:,:]

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
36,26.0,4,97,46,1835,21,1971,Europe.
66,26.0,4,97,46,1950,21,1974,Europe.
197,43.1,4,90,48,1985,22,1979,Europe.
247,44.3,4,90,48,2085,22,1981,Europe.
106,43.4,4,90,48,2335,24,1981,Europe.
...,...,...,...,...,...,...,...,...
244,14.0,8,454,220,4354,9,1971,US.
152,14.0,8,455,225,4425,10,1971,US.
44,14.0,8,455,225,3086,10,1971,US.
132,12.0,8,455,225,4951,11,1974,US.
55,16.0,8,400,230,4278,10,1974,US.

In [136]:
cars.iloc[-1,:]

mpg             16.0
 cylinders         8
 cubicinches     400
 hp              230
 weightlbs      4278
 time-to-60       10
 year           1974
 brand           US.
Name: 55, dtype: object

In [137]:
cars.loc[:,:]

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
36,26.0,4,97,46,1835,21,1971,Europe.
66,26.0,4,97,46,1950,21,1974,Europe.
197,43.1,4,90,48,1985,22,1979,Europe.
247,44.3,4,90,48,2085,22,1981,Europe.
106,43.4,4,90,48,2335,24,1981,Europe.
...,...,...,...,...,...,...,...,...
244,14.0,8,454,220,4354,9,1971,US.
152,14.0,8,455,225,4425,10,1971,US.
44,14.0,8,455,225,3086,10,1971,US.
132,12.0,8,455,225,4951,11,1974,US.
55,16.0,8,400,230,4278,10,1974,US.

In [138]:
cars.loc[55,:]

mpg             16.0
 cylinders         8
 cubicinches     400
 hp              230
 weightlbs      4278
 time-to-60       10
 year           1974
 brand           US.
Name: 55, dtype: object

In [140]:
cars.tail(1)

     mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year  brand
55  16.0           8          400  230       4278           10   1974    US.

In [158]:
cars['mpg'][55]

16.0

In [160]:
cars.iloc[4,:]

mpg                 43.4
 cylinders             4
 cubicinches          90
 hp                   48
 weightlbs          2335
 time-to-60           24
 year               1981
 brand           Europe.
Name: 106, dtype: object

In [161]:
cars.iloc[4]

mpg                 43.4
 cylinders             4
 cubicinches          90
 hp                   48
 weightlbs          2335
 time-to-60           24
 year               1981
 brand           Europe.
Name: 106, dtype: object

In [162]:
#4,6,8th row
cars.iloc[[3,5,7]]

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
247,44.3,4,90,48,2085,22,1981,Europe.
172,29.0,4,68,49,,20,1974,Europe.
235,44.0,4,97,52,2130,25,1983,Europe.

In [165]:
cars.iloc[3:8:2]

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
247,44.3,4,90,48,2085,22,1981,Europe.
172,29.0,4,68,49,,20,1974,Europe.
235,44.0,4,97,52,2130,25,1983,Europe.

In [166]:
cars

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
36,26.0,4,97,46,1835,21,1971,Europe.
66,26.0,4,97,46,1950,21,1974,Europe.
197,43.1,4,90,48,1985,22,1979,Europe.
247,44.3,4,90,48,2085,22,1981,Europe.
106,43.4,4,90,48,2335,24,1981,Europe.
...,...,...,...,...,...,...,...,...
244,14.0,8,454,220,4354,9,1971,US.
152,14.0,8,455,225,4425,10,1971,US.
44,14.0,8,455,225,3086,10,1971,US.
132,12.0,8,455,225,4951,11,1974,US.
55,16.0,8,400,230,4278,10,1974,US.

In [171]:
cars.iloc[-2:,['year','brand']] #

IndexError: .iloc requires numeric indexers, got ['year' 'brand']

In [172]:
cars.iloc[-2:,[-2,-1]] #2

      year  brand
132   1974    US.
55    1974    US.

In [173]:
cars.loc[1]

mpg                 31.9
 cylinders             4
 cubicinches          89
 hp                   71
 weightlbs          1925
 time-to-60           14
 year               1980
 brand           Europe.
Name: 1, dtype: object

In [175]:
cars.loc[:10,'mpg']

36     26.0
66     26.0
197    43.1
247    44.3
106    43.4
172    29.0
227    31.0
235    44.0
113    33.0
25     33.0
164    23.0
212    39.1
124    27.0
257    36.1
24     38.1
143    35.1
225    32.0
9      37.7
4      30.5
169    38.0
238    39.0
26     31.0
16     31.8
90     34.1
20     37.2
63     46.6
206    40.8
216    37.0
118    34.4
29     29.9
129    36.1
121    26.0
34     30.0
252    36.4
181    33.8
67     32.0
179    31.5
157    29.5
85     35.0
175    26.0
114    37.3
213    30.0
136    26.0
198    29.0
58     29.0
199    33.5
103    34.2
250    32.1
10     34.0
Name: mpg, dtype: float64

In [176]:
cars.loc[-2:,[-2,-1]] #2

KeyError: -2

In [178]:
cars.columns

Index(['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60',
       ' year', ' brand'],
      dtype='object')

In [179]:
cars.loc[-2:,[' year',' brand']] #1

KeyError: -2

In [181]:
cars.tail()

      mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year  brand
244  14.0           8          454  220       4354            9   1971    US.
152  14.0           8          455  225       4425           10   1971    US.
44   14.0           8          455  225       3086           10   1971    US.
132  12.0           8          455  225       4951           11   1974    US.
55   16.0           8          400  230       4278           10   1974    US.

In [182]:
cars.loc[[132,55],[' year',' brand']] #1

      year  brand
132   1974    US.
55    1974    US.

In [183]:
cars.loc[[132,55],[-2,-1]] #2

KeyError: "None of [Int64Index([-2, -1], dtype='int64')] are in the [columns]"

In [186]:
cars.loc[36,'mpg']=30

In [190]:
cars[' year'][44]

1971

In [194]:
original_column_names=list(cars.columns)

In [195]:
new_columns=[i.strip() for i in original_column_names]

In [196]:
new_columns

['mpg',
 'cylinders',
 'cubicinches',
 'hp',
 'weightlbs',
 'time-to-60',
 'year',
 'brand']

In [202]:
new=dict(zip(original_column_names,new_columns))

In [204]:
cars.columns=new_columns

Index(['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60',
       ' year', ' brand'],
      dtype='object')

In [203]:
cars.rename(columns=new,inplace=)

      mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
36   30.0          4          97   46      1835          21  1971   Europe.
66   26.0          4          97   46      1950          21  1974   Europe.
197  43.1          4          90   48      1985          22  1979   Europe.
247  44.3          4          90   48      2085          22  1981   Europe.
106  43.4          4          90   48      2335          24  1981   Europe.
..    ...        ...         ...  ...       ...         ...   ...       ...
244  14.0          8         454  220      4354           9  1971       US.
152  14.0          8         455  225      4425          10  1971       US.
44   14.0          8         455  225      3086          10  1971       US.
132  12.0          8         455  225      4951          11  1974       US.
55   16.0          8         400  230      4278          10  1974       US.

[261 rows x 8 columns]

In [205]:
cars.columns=new_columns #NOT RECOMENDED

In [207]:
cars.columns

Index(['mpg', 'cylinders', 'cubicinches', 'hp', 'weightlbs', 'time-to-60',
       'year', 'brand'],
      dtype='object')

In [209]:
new_columns[0]='brand'
new_columns[-1]='mpg'

In [210]:
new_columns

['brand',
 'cylinders',
 'cubicinches',
 'hp',
 'weightlbs',
 'time-to-60',
 'year',
 'mpg']

In [211]:
cars.columns=new_columns #NOT RECOMENDED

In [212]:
cars

     brand  cylinders cubicinches   hp weightlbs  time-to-60  year       mpg
36    30.0          4          97   46      1835          21  1971   Europe.
66    26.0          4          97   46      1950          21  1974   Europe.
197   43.1          4          90   48      1985          22  1979   Europe.
247   44.3          4          90   48      2085          22  1981   Europe.
106   43.4          4          90   48      2335          24  1981   Europe.
..     ...        ...         ...  ...       ...         ...   ...       ...
244   14.0          8         454  220      4354           9  1971       US.
152   14.0          8         455  225      4425          10  1971       US.
44    14.0          8         455  225      3086          10  1971       US.
132   12.0          8         455  225      4951          11  1974       US.
55    16.0          8         400  230      4278          10  1974       US.

[261 rows x 8 columns]

In [216]:
cars['year'].nunique()

13

In [219]:
cars['year'].value_counts()

1974    35
1977    26
1971    23
1976    22
1979    21
1980    21
1978    18
1981    18
1982    18
1973    16
1983    16
1972    15
1975    12
Name: year, dtype: int64

In [221]:
cars['year'].value_counts(normalize=True)*100

1974    13.409962
1977     9.961686
1971     8.812261
1976     8.429119
1979     8.045977
1980     8.045977
1978     6.896552
1981     6.896552
1982     6.896552
1973     6.130268
1983     6.130268
1972     5.747126
1975     4.597701
Name: year, dtype: float64

In [223]:
max(cars['brand'])

46.6

In [224]:
cars

     brand  cylinders cubicinches   hp weightlbs  time-to-60  year       mpg
36    30.0          4          97   46      1835          21  1971   Europe.
66    26.0          4          97   46      1950          21  1974   Europe.
197   43.1          4          90   48      1985          22  1979   Europe.
247   44.3          4          90   48      2085          22  1981   Europe.
106   43.4          4          90   48      2335          24  1981   Europe.
..     ...        ...         ...  ...       ...         ...   ...       ...
244   14.0          8         454  220      4354           9  1971       US.
152   14.0          8         455  225      4425          10  1971       US.
44    14.0          8         455  225      3086          10  1971       US.
132   12.0          8         455  225      4951          11  1974       US.
55    16.0          8         400  230      4278          10  1974       US.

[261 rows x 8 columns]

In [225]:
cars = pd.read_csv(r"C:\Users\voicezen\OneDrive\DataScienceTraining\github_repos\MachineLearning\Dataset\cars.csv")

In [226]:
cars

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
0,14.0,8,350,165,4209,12,1972,US.
1,31.9,4,89,71,1925,14,1980,Europe.
2,17.0,8,302,140,3449,11,1971,US.
3,15.0,8,400,150,3761,10,1971,US.
4,30.5,4,98,63,2051,17,1978,US.
...,...,...,...,...,...,...,...,...
256,17.0,8,305,130,3840,15,1980,US.
257,36.1,4,91,60,1800,16,1979,Japan.
258,22.0,6,232,112,2835,15,1983,US.
259,18.0,6,232,100,3288,16,1972,US.
260,22.0,6,250,105,3353,15,1977,US.

In [227]:
cars.rename(columns=new,inplace=True)

In [229]:
cars.max()

mpg            46.6
cylinders         8
cubicinches      98
hp              230
weightlbs      4997
time-to-60       25
year           1983
brand           US.
dtype: object

In [230]:
cars.mean()

mpg             23.144828
cylinders        5.590038
hp             106.360153
time-to-60      15.547893
year          1976.819923
dtype: float64

In [231]:
cars.median()

mpg             22.0
cylinders        6.0
hp              95.0
time-to-60      16.0
year          1977.0
dtype: float64

In [233]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpg          261 non-null    float64
 1   cylinders    261 non-null    int64
 2   cubicinches  261 non-null    object
 3   hp           261 non-null    int64
 4   weightlbs    261 non-null    object
 5   time-to-60   261 non-null    int64
 6   year         261 non-null    int64
 7   brand        261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB

In [235]:
cars.dtypes

mpg            float64
cylinders        int64
cubicinches     object
hp               int64
weightlbs       object
time-to-60       int64
year             int64
brand           object
dtype: object

In [241]:
cars[cars['weightlbs']==" "]

      mpg  cylinders cubicinches  hp weightlbs  time-to-60  year     brand
14   19.1          6         225  90                    19  1981       US.
33   21.0          6         199  90                    15  1971       US.
172  29.0          4          68  49                    20  1974   Europe.

In [243]:
cars.loc[[14,33,172],'weightlbs']=0

In [244]:
cars[cars['weightlbs']==" "]

Empty DataFrame
Columns: [mpg, cylinders, cubicinches, hp, weightlbs, time-to-60, year, brand]
Index: []

In [246]:
cars['weightlbs'].astype('int')

0      4209
1      1925
2      3449
3      3761
4      2051
       ...
256    3840
257    1800
258    2835
259    3288
260    3353
Name: weightlbs, Length: 261, dtype: int32

In [237]:
cars['weightlbs'].describe()

count      261
unique     240
top       2130
freq         3
Name: weightlbs, dtype: object

In [249]:
cars.loc[10,'mpg']=np.nan

In [252]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpg          260 non-null    float64
 1   cylinders    261 non-null    int64
 2   cubicinches  261 non-null    object
 3   hp           261 non-null    int64
 4   weightlbs    261 non-null    object
 5   time-to-60   261 non-null    int64
 6   year         261 non-null    int64
 7   brand        261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB

In [254]:
cars['mpg'].fillna(100,inplace=True)

In [255]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpg          261 non-null    float64
 1   cylinders    261 non-null    int64
 2   cubicinches  261 non-null    object
 3   hp           261 non-null    int64
 4   weightlbs    261 non-null    object
 5   time-to-60   261 non-null    int64
 6   year         261 non-null    int64
 7   brand        261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB

In [256]:
cars = pd.read_csv(r"C:\Users\voicezen\OneDrive\DataScienceTraining\github_repos\MachineLearning\Dataset\cars.csv")

In [259]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           261 non-null    float64
 1    cylinders    261 non-null    int64
 2    cubicinches  261 non-null    object
 3    hp           261 non-null    int64
 4    weightlbs    261 non-null    object
 5    time-to-60   261 non-null    int64
 6    year         261 non-null    int64
 7    brand        261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB

In [262]:
cars[' weightlbs'].fillna(0,inplace=True)

In [264]:
cars[cars[' weightlbs']==" "]

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
14,19.1,6,225,90,,19,1981,US.
33,21.0,6,199,90,,15,1971,US.
172,29.0,4,68,49,,20,1974,Europe.

In [265]:
import pandas as pd
data = pd.DataFrame({'price':[95, 25, 85, 41, 78],
                     'ticker':['AXP', 'CSCO', 'DIS', 'MSFT', 'WMT'],
                     'company':['American Express', 'Cisco', 'Walt Disney','Microsoft', 'Walmart']})
data
#Columns wont appear in the order defined

   price ticker           company
0     95    AXP  American Express
1     25   CSCO             Cisco
2     85    DIS       Walt Disney
3     41   MSFT         Microsoft
4     78    WMT           Walmart

In [267]:
data[data['price']>80]

   price ticker           company
0     95    AXP  American Express
2     85    DIS       Walt Disney

In [268]:
data['year']=2022

In [270]:
data

   price ticker           company  year
0     95    AXP  American Express  2022
1     25   CSCO             Cisco  2022
2     85    DIS       Walt Disney  2022
3     41   MSFT         Microsoft  2022
4     78    WMT           Walmart  2022

In [271]:
data['price_squared']=data['price']+data['year']

In [272]:
data

   price ticker           company  year  price_squared
0     95    AXP  American Express  2022           2117
1     25   CSCO             Cisco  2022           2047
2     85    DIS       Walt Disney  2022           2107
3     41   MSFT         Microsoft  2022           2063
4     78    WMT           Walmart  2022           2100

data[(COND-1) and (COND-2)]
data[(COND-1) OR (COND-2)]

In [275]:
data[(data['price']>80) & (data['price_squared']>2100)]

   price ticker           company  year  price_squared
0     95    AXP  American Express  2022           2117
2     85    DIS       Walt Disney  2022           2107

In [276]:
data[(data['price']>80) | (data['price_squared']>2100)]

   price ticker           company  year  price_squared
0     95    AXP  American Express  2022           2117
2     85    DIS       Walt Disney  2022           2107

In [279]:
data[(data['price']>80) & ~(data['price_squared']>2107)]

   price ticker      company  year  price_squared
2     85    DIS  Walt Disney  2022           2107

In [ ]:
#pivot table
#vlookups
#joins
#concatinate

# WHY DO I NEED PYTHON?

In [284]:
data['price'][:2]

0    95
1    25
Name: price, dtype: int64