In [4]:
#1 calculator 

n=10
r=5
p=100

A=p*(1+r/100)**(n)

print(A)

162.8894626777442

In [3]:
#2
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(B,A))

There are 20 students in the class, with 10 who play at least one sport.

In [6]:
#3
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

In [8]:
#4
x = lambda a,b: a//b
x(10,3)

3

In [10]:
#5 

A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

In [11]:
import os 
import numpy as np
my_list1=[2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [17]:
string="Machine Learning"
string[slice(8,13,1)]

'Learn'

In [18]:
l=[]
for i in range(10,25,4):
    l.append(i)

print(l.index(18))

2

In [19]:
num1=5**4
num2=pow(5,4)
print(num1,num2)

625 625

In [20]:
x="string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

In [22]:
z="ID-5632"
print(type(z))

<class 'str'>

In [29]:
Country={"India":"Delhi", "China":"Beijing", "Japan": "Tokyo", "Qatar":"Doha", "France":"Marseilles"}
Country.update({"France":"Paris"})
Country["France"]="Paris"
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [32]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
sum(tuple_1)
len(tuple_2)
tuple_2 + tuple_1
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

In [33]:
S={1,2,3,4,4,4,5,6}
len(S)

6

In [43]:
#19
def pythagorean_triplets(N):
    for a in range(1,N-1):
        for b in range(a+1,N):
             for c in range(b+1,N+1):
                    a2=a**2
                    b2=b**2
                    c2=c**2
                    if (a2+b2==c2):
                        print(a,b,c)
                        
N=int(input("Enter a limit: ")) 

print(pythagorean_triplets(N))

Enter a limit: 20
3 4 5
5 12 13
6 8 10
8 15 17
9 12 15
12 16 20
None